*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.col45{
    width: 45%;
}
.col55{
    width: 55%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
img{
    width: 100%;
}
section{
    background-color: #202020;
    position: relative;
}
.text{
    text-align: right;
    margin-top: 90px;
}
.heading{
    color: white;
    font-size: 25px;
    margin-right: 100px;
    
}
.title{
    color: #e74c3c;
    margin-right: 80px;
    margin-top: 30px;
}
.subtitle{
    color: white;
    opacity: .6;
    margin-right: 80px;
    margin-top: 10px;
    font-size: 15px;
}
.rectangle{
    position: absolute;
    left: 667px;
    top: 94px;
    width: 4px;
}
.shape1{
    position: absolute;
    width: 50px;
    left: 725px;
    top: 160px;
}
.shape2{
    position: absolute;
    width: 50px;
    left: 725px;
    top: 260px;
}
.shape3{
    position: absolute;
    width: 50px;
    left: 725px;
    top: 360px;
}